/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones
$screen-sm-min: 576px;

// Small tablets
$screen-md-min: 768px;

// Large tablets and small desktops
$screen-lg-min: 992px;

// Large desktops
$screen-xl-min: 1200px;

// Extra-Extra Large desktops
$screen-xxl-min: 1440px;

// Colors
$white: #fff;
$black: #000;
$gray: #343434;
$dark-brown: #776555;
$middle-brown: #A07C63;

$dark-orange: #BC6F2C;
$light-orange: #E8B794;

$bright-pink: #F2948A;
$light-pink: #F7E2DA;
$middle-pink: #E9B6A3;
$dark-pink: #BF8C78;

$cream: #F8E5D6;
$green: #819B6C;
$dark-green: #546645;