/* =============
    Base
============= */
ul{
    padding: 0;

    li{
        list-style: none;
    }
}

.big-spacing{
    margin-bottom: 70px;

    @include md{
        margin-bottom: 80px;
    }

    @include lg{
        margin-bottom: 120px;
    }

}

.spacing-h-content{
    margin-bottom: 25px;

}

.medium-b-spacing{
    margin-bottom: 25px;

    @include md{
        margin-bottom: 40px;
    }

    @include lg{
        margin-bottom: 60px;
    }

}




.show-for-md{
    display: none;
    @include md{
        display: block;
    }
}

.show-for-lg{
    display: none;
    @include lg{
        display: block;
    }
}

.show-for-mobile{
    display: flex !important;
    @include md{
        display: none !important;
    }
}

.show-for-tablet{
    display: none !important;
    @include md{
        display: flex !important;
    }
}


a:link,
a:visited{
    text-decoration: none;
        }