/* =============
    Base
============= */
ul{
    padding: 0;

    li{
        list-style: none;
    }
}

.big-spacing{
    margin-bottom: 70px;
}

.spacing-h-content{
    margin-bottom: 25px;
}

.show-for-md{
    display: none;
    @include md{
        display: block;
    }
}

.show-for-lg{
    display: none;
    @include lg{
        display: block;
    }
}

.show-for-mobile{
    display: show;
    @include lg{
        display: block;
    }
}






a:link,
a:visited{
    text-decoration: none;
        }