/* =============
    Section-2
============= */

#section-2{

    #hero-2{
        background-image: url("../img/section-2/hero-2.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0 -190px;
        height: 25vh;
    }

    #intro-type{
        font-family: 'Playfair Display', serif;
        font-size: rem-calc(25);
        line-height: rem-calc(40);
        font-weight: 700;
        color: $middle-brown;
        text-align: justify;
        margin: 70px 10px;
    }


    #date-container{
        // display: grid;
        // grid-template-columns: 0px auto 0px;
        // grid-template-areas: ". date-content .";
        h2{
            text-align: center;
        }

        >div{
            display: flex;
            align-items: center;
            justify-content: center;


            #date-content{
                // grid-area: date-content;
    
                display: grid;
                grid-template-columns: repeat(2,1fr);
                grid-template-rows: repeat(2,1fr);
                grid-template-areas: "g1 g3" "g2 g4";
                row-gap: 25px;
                margin: 0px;
                
                
                #g1{
                    grid-area: g1;
                    text-align: center;
                    margin: 0px 20px;

                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
    
                #g2{
                    grid-area: g2;
                    text-align: center;
                    margin: 0px 20px;

                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
    
                #g3{
                    grid-area: g3;
                    background-color: $cream;
                    width: 60px;
                    height: 71px;
                    text-align: center;
                    margin: 0px 20px;

                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
    
                #g4{
                    grid-area: g4;
                    background-color: $cream;
                    width: 60px;
                    height: 71px;
                    text-align: center;
                    margin: 0px 20px;

                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
    
            }
        }

        
    }

    #general-hours-container{
        // display: grid;
        // grid-template-columns: 0px auto 0px;
        // grid-template-areas: ". hours-content .";
        h2{
            text-align: center;
            
        }

        >div{
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            #hours-content{

                // grid-area: hours-content;
    
                display: grid;
                grid-template-columns: repeat(3,1fr);
                grid-template-rows: repeat(2,1fr);
                grid-template-areas: "g1 g2 g3" "g4 g5 g6";
                row-gap: 25px;
                margin: 0px;
                
    
                #g1{
                    grid-area: g1;
                    background-color: $bright-pink;
                    width: 93px;
                    height: 71px;
                    text-align: center;

                    display: flex;
                    align-items: center;
                    justify-content: center;
                    
                }
    
                #g2{
                    grid-area: g2;
                    background-color: $bright-pink;
                    width: 93px;
                    height: 71px;
                    text-align: center;

                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
    
                #g3{
                    grid-area: g3;
                    background-color: $bright-pink;
                    width: 93px;
                    height: 71px;
                    text-align: center;

                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
    
                #g4{
                    grid-area: g4;
                    background-color: $bright-pink;
                    width: 93px;
                    height: 71px;
                    text-align: center;

                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
    
                #g5{
                    grid-area: g5;
                    background-color: $bright-pink;
                    width: 93px;
                    height: 71px;
                    text-align: center;

                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
    
                #g6{
                    grid-area: g6;
                    background-color: $bright-pink;
                    width: 93px;
                    height: 71px;
                    text-align: center;

                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }

        
            


            
        }
        

        #tree-container{
            #lemon-img{
                background-image: url("../img/section-2/lemons.jpg");
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                height: 60vh;
            }
            
            #tree-content{
                display: grid;
                grid-template-areas: ". tree-text .";
                grid-template-columns: 10px auto 10px;

                #tree-text{
                    grid-area: tree-text;
                }
            }

                
        }


        #quote{
            display: grid;
            grid-template-areas: ". quote-text .";
            grid-template-columns: 10px auto 10px;
            background-color: $cream;
            width: 100%;

            #quote-text{
                grid-area: quote-text;

                padding: 70px 0px;
            }
        }

        #photography-container{

            #photography-content{
                margin: 0 10px;
            }

            #photo-img{
                background-image: url("../img/section-2/photo.jpg");
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                height: 45vh;
            }

            

        }




        
    
        
    
    
    
    
    
    
    
    
        
        
    
        h1{
            font-family: 'Playfair Display', serif;
            font-size: rem-calc(30);
            line-height: rem-calc(42);
            font-weight: 700;
            color: $middle-brown;
            text-align: center;
        }
    
        h2{
            font-family: 'Playfair Display', serif;
            font-size: rem-calc(22);
            font-weight: 700;
            color: $dark-brown;
            
        }
    
        h3{
            font-family: 'Playfair Display', serif;
            font-size: rem-calc(18);
            font-weight: 400;
            color: $dark-orange;
        }
    
        h4{
            font-family: Helvetica, sans-serif;
            font-size: rem-calc(16);
            line-height: rem-calc(23);
            font-weight: 700;
            color: $white;

            span{
                display: block;
            }
        }
    
        #date-type{
            font-family: Helvetica, sans-serif;
            font-size: rem-calc(16);
            line-height: rem-calc(23);
            font-weight: 400;
            color: $middle-brown;
        }
    
        p{
            font-family: Helvetica, sans-serif;
            font-size: rem-calc(16);
            font-weight: 400;
            line-height: rem-calc(23);
            text-align: justify;
        }
        
    
    }







    