/* =============
    Section-6
============= */
#section-6 {
    text-align: center;

    #hero-6 {
        align-items: center;
        background-image: url("../img/section-6/hero-6.jpg");
        background-position: -350px -170px;
        background-repeat: no-repeat;
        background-size: 270%;
        display: flex;
        height: 30vh;
        justify-content: center;

        @include md {
            background-position: -550px -200px;
            background-size: 200%;
            height: 35vh;
        }

        @include lg {
            background-position: -290px -130px;
            background-size: 145%;
            height: 45vh;
        }

        @include xl {
            background-position: -290px -200px;
        }

        @include xxl {
            background-position: -500px -400px;
            height: 50vh;
        }
    }

    #section-6-container {
        @include lg {
            display: grid;
            grid-template-areas: ". desktop .";
            grid-template-columns: 15% auto 15%;
        }

        @include xl {
            display: grid;
            grid-template-areas: ". desktop-xl .";
            grid-template-columns: auto 1200px auto;
        }

        #total {
            @include lg {
                grid-area: desktop;
            }

            @include xl {
                grid-area: desktop-xl;
            }

            @include md {
                display: grid;
                grid-template-areas: "address phone email";
                grid-template-columns: repeat(3, 1fr);
                margin: 0px 10px;
            }

            #address {
                margin-bottom: 70px;

                @include md {
                    grid-area: address;
                    margin: 0px;
                }
            }

            #phone {
                margin-bottom: 70px;

                @include md {
                    grid-area: phone;
                    margin: 0px;
                }
            }

            #email {
                @include md {
                    grid-area: email;
                    margin: 0px;
                }
            }
        }
    }

    p {
        text-align: center;
    }
}