/* =============
    Section-1
============= */
#section-1{

    #hero{
        background-image: url("../img/section-1/main-hero.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0 -150px;
        height: 50vh;
        
       
    }
    
    
}

