/* =============
    Section-2
============= */

#section-2 {


    #hero-2 {
        background-image: url("../img/section-2/hero-2.jpg");
        background-repeat: no-repeat;
        background-size: 250%;
        background-position: -280px -620px;
        height: 30vh;

        display: flex;
        align-items: center;
        justify-content: center;

        @include md {
            background-size: 190%;
            background-position: -300px -980px;
            height: 35vh;
        }

        @include lg {
            background-size: 120%;
            background-position: -120px -750px;
            height: 45vh;
        }

        @include xl {
            background-position: -120px -900px;
        }

        @include xxl {
            background-position: -120px -1300px;
        }

    }

    #intro-xl {

        @include xl {
            display: grid;
            grid-template-areas: ". intro-xl .";
            grid-template-columns: auto 1200px auto;
        }


        #intro-type {
            font-family: 'Playfair Display', serif;
            font-size: rem-calc(25);
            line-height: rem-calc(40);
            font-weight: 700;
            color: $middle-brown;
            text-align: justify;
            margin: 70px 10px;

            @include md {
                font-size: rem-calc(40);
                line-height: rem-calc(65);
                text-align: center;
                margin: 80px 10px;
            }

            @include lg {
                font-size: rem-calc(45);
                line-height: rem-calc(70);
                margin: 120px 65px;
            }

            @include xl {
                grid-area: intro-xl;
            }
        }
    }


    #grid-xl {

        @include xl {
            display: grid;
            grid-template-columns: auto 1200px auto;
            grid-template-areas: ". grid-xl .";
        }

        >div {
            @include md {
                display: grid;
                grid-template-columns: 45% auto;
                grid-template-areas: "date general-hours";
                margin: 0px 25px;
            }

            @include lg {
                margin: 0px 90px;
            }

            @include xl {
                grid-area: grid-xl;
            }

            #date-container {

                h2 {
                    text-align: center;

                    @include md {
                        margin-left: 140px;
                    }

                    @include lg {
                        margin-left: 170px;
                    }
                }

                >div {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    #date-content {

                        display: grid;
                        grid-template-columns: 50% auto;
                        grid-template-rows: repeat(2, 1fr);
                        grid-template-areas: "d1 d3""d2 d4";
                        row-gap: 25px;
                        margin: 0px;

                        @include md {
                            row-gap: 10px;
                        }

                        #d1 {
                            grid-area: d1;
                            text-align: center;

                            display: flex;
                            align-items: center;
                            justify-content: left;
                        }

                        #d2 {
                            grid-area: d2;
                            text-align: center;

                            display: flex;
                            align-items: center;
                            justify-content: left;
                        }

                        #d3 {
                            grid-area: d3;
                            background-color: $cream;
                            width: 60px;
                            height: 71px;
                            text-align: center;
                            margin: 0px 20px;

                            display: flex;
                            align-items: center;
                            justify-content: center;

                            @include md {
                                width: 107px;
                                height: 80px;
                            }

                            @include lg {
                                width: 127px;
                                height: 95px;
                            }
                        }

                        #d4 {
                            grid-area: d4;
                            background-color: $cream;
                            width: 60px;
                            height: 71px;
                            text-align: center;
                            margin: 0px 20px;

                            display: flex;
                            align-items: center;
                            justify-content: center;

                            @include md {
                                width: 107px;
                                height: 80px;
                            }

                            @include lg {
                                width: 127px;
                                height: 95px;
                            }
                        }

                    }
                }

            }

            #general-hours-container {

                h2 {
                    text-align: center;
                }

                >div {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    #hours-content {
                        width: 100%;

                        display: grid;
                        grid-template-columns: repeat(3, 1fr);
                        gap: 25px;
                        margin: 0px;

                        @include md {
                            gap: 10px;
                        }


                        li {
                            height: 71px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            text-align: center;
                            background-color: $bright-pink;

                            @include md {
                                height: 80px;
                            }

                            @include lg {
                                height: 95px;
                            }

                            >div {
                                height: 100%;
                                width: 100%;

                                a:link,
                                a:visited {
                                    display: inline-block;
                                    height: 100%;
                                    width: 100%;
                                    transition: 0.25s;

                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                }

                                a:hover, a:active{
                                    background-color: $dark-pink;
                                }

                                h4 {
                                    font-family: Helvetica, sans-serif;
                                    font-size: rem-calc(16);
                                    line-height: rem-calc(23);
                                    font-weight: 400;
                                    color: $white;

                                    @include md {
                                        font-size: rem-calc(18);
                                        line-height: rem-calc(25);
                                    }

                                    @include lg {
                                        font-size: rem-calc(19);
                                        line-height: rem-calc(26);
                                    }

                                    span {
                                        display: block;
                                    }
                                }

                            }
                        }

                    }
                }
            }
        }
    }



    #tree-xl {

        @include xl {
            display: grid;
            grid-template-areas: ". tree-xl .";
            grid-template-columns: auto 1200px auto;
        }

        #tree-container {

            @include xl {
                grid-area: tree-xl;
            }

            @include lg {
                display: grid;
                grid-template-columns: 50% 50%;
                grid-template-areas: "img text";
            }

            #lemon-img {
                background-image: url("../img/section-2/lemons.jpg");
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                height: 60vh;

                @include md {
                    height: 70vh;
                    background-position: -330px;
                    margin-right: 200px;
                }

                @include lg {
                    height: 90vh;
                    background-position: center;
                    margin: 0px;
                }
            }

            #tree-content {

                @include lg {
                    grid-area: text;
                }

                display: grid;
                grid-template-areas: ". tree-text .";
                grid-template-columns: 10px auto 10px;

                #tree-text {
                    grid-area: tree-text;

                    @include md {
                        margin-left: 180px;
                    }

                    @include lg {
                        margin: 0px 100px;
                        p{
                           margin-bottom: 25px;
                        }
                    }

                    
                }
            }
        }
    }

    #quote {
        display: grid;
        grid-template-areas: ". quote-text .";
        grid-template-columns: 10px auto 10px;
        background-color: $cream;
        width: 100%;

        @include lg {
            grid-template-columns: 10% auto 10%;
        }

        @include xl {
            display: grid;
            grid-template-areas: ". quote-text .";
            grid-template-columns: auto 1200px auto;
            background-color: $cream;
            width: 100%;
        }

        #quote-text {
            grid-area: quote-text;

            padding: 70px 0px;

            @include md {
                padding: 80px 0px;
            }

            @include lg {
                padding: 120px 0px;
            }

            @include xl {
                grid-area: quote-text;
            }
        }
    }


    #photography-xl {

        @include xl {
            display: grid;
            grid-template-columns: auto 1200px auto;
            grid-template-areas: ". photography-xl .";
        }

        #photography-container {

            @include xl {
                grid-area: photography-xl;
            }

            @include lg {
                display: grid;
                grid-template-columns: 45% 55%;
                grid-template-areas: "text img";
            }


            #photography-content {
                margin: 0px 10px;

                @include md {
                    margin: 0px 288px 0px 106px;
                }

                @include lg {
                    grid-area: text;
                    margin: 0px 20px 0px 10px;
                }
            }

            #photo-img {
                background-image: url("../img/section-2/photo.jpg");
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                height: 45vh;

                @include md {
                    height: 35vh;
                    margin-left: 106px;
                }

                @include lg {
                    grid-area: img;
                    height: 40vh;
                    margin: 0px;
                    margin-bottom: 60px;
                }
            }
        }

    }


    #youtube-xl {
        @include xl {
            display: grid;
            grid-template-columns: auto 1200px auto;
            grid-template-areas: ". video-xl .";
        }

        #youtube-video {
            display: grid;
            grid-template-columns: 10px auto 10px;
            grid-template-areas: ". video .";
            margin: 70px 0px;

            @include md {
                margin: 80px 0px;
            }

            @include lg {
                margin: 120px 0px;
            }

            @include xl {
                grid-area: video-xl;
            }

            >div {
                grid-area: video;
                display: flex;
                justify-content: center;
                align-items: center;

                section {
                    width: 100%;
                }
            }
        }
    }

    h3 {
        font-family: 'Playfair Display', serif;
        font-size: rem-calc(18);
        font-weight: 400;
        color: $dark-orange;

        @include md {
            font-size: rem-calc(23);
        }

        @include lg {
            font-size: rem-calc(25);
        }
    }
}