/* =============
    Section-5
============= */

#section-5 {

    #hero-5 {
        background-image: url("../img/section-5/hero-5.jpg");
        background-repeat: no-repeat;
        background-size: 300%;
        background-position: -320px -350px;
        height: 30vh;

        display: flex;
        align-items: center;
        justify-content: center;

        @include md {
            background-size: 210%;
            background-position: -360px -500px;
            height: 35vh;
        }

        @include lg {
            background-size: 160%;
            background-position: -330px -400px;
            height: 45vh;
        }

        @include xl {
            background-position: -330px -600px;
        }

        @include xxl {
            background-size: 150%;
            background-position: -330px -850px;
        }

    }


    #section-5-xl {

        @include xl {
            display: grid;
            grid-template-areas: ". section-5-xl .";
            grid-template-columns: auto 1200px auto;
        }

        #section-5-container {

            @include xl {
                grid-area: section-5-xl;
            }

            #section-5a {

                h2 {
                    margin-left: 10px;
                    align-items: left;

                    @include lg {
                        margin-left: 90px;
                    }
                }

                p {
                    margin-left: 90px;
                    margin-right: 10px;

                    @include md {
                        margin-left: 106px;
                        margin-right: 298px;
                    }

                    @include lg {
                        margin-left: 180px;
                        margin-right: 500px;
                    }
                }
            }

            #section-5b {

                #history-1-img {
                    background-image: url("../img/section-5/history-1.jpg");
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    height: 60vh;

                    @include md {
                        height: 50vh;
                        margin-left: 200px;
                    }

                    @include lg {
                        height: 70vh;
                        margin-left: 400px;
                    }
                }

                #h-mobile-text {
                    margin-left: 10px;
                    margin-right: 10px;
                }

                #for-tablet-desktop {
                    @include md {
                        margin-left: 105px;
                        margin-right: 10px;
                    }

                    @include lg {
                        margin-left: 400px;
                        margin-right: 10px;
                    }
                }

                #history-5bc {

                    @include lg{
                        display: grid;
                        grid-template-columns: 50% auto;
                        grid-template-areas: "img history-lg";
                    }

                    #history-2-img {
                        background-image: url("../img/section-5/history-2.jpg");
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: center;
                        height: 40vh;

                        @include md {
                            background-size: 150%;
                            background-position: 0px -150px;
                            margin-right: 298px;
                            margin-bottom: 80px;
                            height: 60vh;
                        }

                        @include lg {
                            background-size: 110%;
                            background-position: 0px -100px;
                            margin: 0px 0px 120px 0px;
                            height: 65vh;
                            grid-area: img;
                        }
                    }

                    #history-mobile-content{
                        margin-left: 10px;
                        margin-right: 10px;
                    }

                    article{
                        @include md{
                            margin-left: 395px;
                            margin-right: 10px;
                        }

                        @include lg{
                            grid-area: history-lg;
                            margin: 0px;
                            padding: 0px 100px;
                        }
                    }
                }
            }


            #section-5d {

                @include lg {
                    display: grid;
                    grid-template-columns: 50% 50%;
                    grid-template-areas: "article aside";
                }

                #phs-1-img {
                    background-image: url("../img/section-5/phs-1.jpg");
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    height: 60vh;

                    @include md {
                        margin-left: 298px;
                    }

                    @include lg {
                        height: 70vh;
                        margin: 0px;

                        grid-area: aside;
                    }
                }

                >div {

                    @include lg {
                        display: grid;
                        grid-template-columns: 96px auto 20px;
                        grid-template-areas: ". text .";
                    }

                    article {
                        margin-left: 10px;
                        margin-right: 10px;

                        @include md {
                            margin-left: 10px;
                            margin-right: 395px;
                        }

                        @include lg {
                            grid-area: text;
                            margin-left: 0px;
                            margin-right: 0px;
                            

                        }
                    }

                }

            }

            #section-5e {

                @include md {
                    display: grid;
                    grid-template-columns: 40% auto;
                    grid-template-areas: "image text";
                }

                @include lg {
                    grid-template-columns: 45% auto;
                    margin-top: 120px;
                }

                #phs-2-img {
                    background-image: url("../img/section-5/phs-2.jpg");
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: 0px -90px;
                    height: 40vh;

                    @include md {
                        grid-area: image;

                        background-size: 140%;
                        background-position: 0px -130px;
                        margin-left: 10px;
                        height: 25vh;
                    }

                    @include lg {
                        grid-area: image;

                        background-size: 120%;
                        margin-left: 0px;
                        height: 30vh;
                    }


                }

                article {
                    margin-left: 10px;
                    margin-right: 85px;

                    @include md {
                        grid-area: text;

                        display: grid;
                        grid-template-columns: 107px auto 10px;
                        grid-template-areas: ". text .";
                        margin-left: 0px;
                        margin-right: 0px;
                    }

                    @include lg {
                        grid-area: text;

                        grid-template-columns: 10px auto 10px;
                        grid-template-areas: ". text .";
                    }

                    p {
                        @include md {
                            grid-area: text;
                        }

                        @include lg {
                            grid-area: text;
                        }
                    }
                }
            }


        }

    }


    h3 {
        font-family: 'Playfair Display', serif;
        font-size: rem-calc(23);
        font-weight: 700;
        color: $dark-orange;

        @include lg {
            font-size: rem-calc(25);
        }
    }

    p {
        @include lg {
            font-size: rem-calc(19);
            line-height: rem-calc(26);
        }
    }


}