/* =============
    Section-5
============= */

#section-5{

    #hero{
        background-image: url("../img/section-5/hero-5.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0 -55px;
        height: 25vh;
    }

    #section-5a{

        h2{
            margin-left: 10px;
        }
        
        >div{
            display: grid; 
            grid-template-columns: 90px auto 10px ;
            grid-template-areas: ". p .";

            p{
                grid-area: p;
            
                }
            }
        
        }

    #section-5b{

        #history-1-img{
            background-image: url("../img/section-5/history-1.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            height: 60vh;
        }

        >div{
            display: grid; 
            grid-template-columns: 10px auto 10px ;
            grid-template-areas: ". p .";

            p{
                grid-area: p;
            }
        }

        #history-2-img{
            background-image: url("../img/section-5/history-2.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            height: 40vh;
        }

    }






    #section-5d{


        #phs-1-img{
            background-image: url("../img/section-5/phs-1.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            height: 60vh;
        }

        >div{
            display: grid; 
            grid-template-columns: 10px auto 10px ;
            grid-template-areas: ". text .";

            article{
                grid-area: text;
            }

        }
        
    }

    #section-5e{

        #phs-2-img{
            background-image: url("../img/section-5/phs-2.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 0px -90px;
            height: 40vh;
        }

        article{
            display: grid; 
            grid-template-columns: 10px auto 85px ;
            grid-template-areas: ". text .";

            p{
                grid-area: text;
            }
        }
    }


    

    h2{
        font-family: 'Playfair Display', serif;
        font-size: rem-calc(22);
        font-weight: 700;
        color: $dark-brown;
    }

    h3{
        font-family: 'Playfair Display', serif;
        font-size: rem-calc(23);
        font-weight: 700;
        color: $dark-orange;
    }

    p{
        font-family: Helvetica, sans-serif;
        font-size: rem-calc(16);
        font-weight: 400;
        line-height: rem-calc(23);
        text-align: justify;
    }

    
}