/* =============
    Section-4
============= */

#section-4 {

    #hero-4 {
        background-image: url("../img/section-4/hero-4.jpg");
        background-repeat: no-repeat;
        background-size: 200%;
        background-position: -150px -60px;
        height: 30vh;

        display: flex;
        align-items: center;
        justify-content: center;

        @include md {
            background-size: 200%;
            background-position: -250px -250px;
            height: 35vh;
        }

        @include lg {
            background-size: 140%;
            background-position: -240px -250px;
            height: 45vh;
        }

        @include xl {
            background-position: -240px -300px;
        }

        @include xxl {
            background-size: 130%;
            background-position: -240px -400px;
        }

    }


    #gallery {

        display: grid;
        grid-template-areas: "gallery";

        @include xl {
            grid-template-areas: ". gallery .";
            grid-template-columns: auto 1200px auto;
        }

        >div {
            grid-area: gallery;


            ul {
                display: grid;
                gap: 25px;
                grid-template-columns: repeat(2, 1fr);

                @include md {
                    column-gap: 25px;
                    row-gap: 40px;
                    grid-template-columns: repeat(3, 1fr);
                }

                @include lg {
                    column-gap: 20px;
                    row-gap: 60px;
                    grid-template-columns: repeat(4, 1fr);
                    margin: 0px 10px;
                }

                @include xl {
                    grid-area: gallery;

                }


                li {
                    div {
                        display: flex;
                        background-size: cover;
                        align-items: center;
                        height: 175px;
                        justify-content: center;
                        background-repeat: no-repeat;

                        @include md {
                            height: 239.33px;
                        }

                        @include lg {
                            height: 228px;
                        }

                        @include xl {
                            height: 280px;
                        }

                        a:link,
                        a:visited {

                            width: 100%;

                            h3 {
                                font-family: 'Playfair Display', serif;
                                font-size: rem-calc(22);
                                font-weight: 700;
                                color: $white;

                                span {
                                    display: block;
                                }


                                @include md {
                                    font-size: rem-calc(28);
                                }

                                @include lg {
                                    font-size: rem-calc(30);
                                }
                            }

                        }

                    }

                    article {
                        p {
                            @include md {
                                margin: 0px 10px;
                            }
                        }
                    }



                }

            }

            li:nth-child(1) {
                >div {
                    background-image: url("../img/section-4/g1.jpg");
                    background-position: -75px 0px;
                    margin: 0px;


                    @include md {
                        background-position: -90px 0px;
                        margin: 0px 0px 25px 0px;
                    }

                    @include lg {
                        background-position: -90px 0px;
                    }
                }
            }

            li:nth-child(2) {
                >div {
                    background-image: url("../img/section-4/g2.jpg");
                    background-position: 0 -45px;
                    margin: 0px;

                    @include md {
                        background-position: 0px -70px;
                        margin: 0px 0px 25px 0px;
                    }

                    @include lg {
                        background-position: 0px -50px;
                    }
                }

            }

            li:nth-child(3) {

                >div {
                    background-image: url("../img/section-4/g3.jpg");
                    background-position: center;
                    margin: 0px;

                    @include md {
                        margin: 0px 0px 25px 0px;
                    }
                }

            }

            li:nth-child(4) {
                >div {
                    background-image: url("../img/section-4/g4.jpg");
                    background-position: -40px 0px;
                    margin: 0px 0px 25px 0px;
                }
            }

            li:nth-child(5) {
                >div {
                    background-image: url("../img/section-4/g5.jpg");
                    background-position: 0px 0px;
                    margin: 0px;

                    @include md {
                        margin: 0px 0px 25px 0px;
                    }
                }
            }

            li:nth-child(6) {
                >div {
                    background-image: url("../img/section-4/g6.jpg");
                    background-position: 0px -20px;
                    margin: 0px;
                    text-align: center;

                    @include md {
                        background-position: 0px -30px;
                        margin: 0px 0px 25px 0px;
                    }
                }
            }

            li:nth-child(7) {
                >div {
                    background-image: url("../img/section-4/g7.jpg");
                    background-position: 0px -80px;
                    margin: 0px;

                    @include md {
                        background-position: 0px -120px;
                        margin: 0px 0px 25px 0px;
                    }

                    @include lg {
                        background-position: 0px -100px;
                    }
                }
            }

            li:nth-child(8) {
                >div {
                    background-image: url("../img/section-4/g8.jpg");
                    background-position: -80px 0;
                    margin: 0px 0px 25px 0px;
                }
            }
        }

    }

}