/* =============
    Section-3
============= */

#section-3 {
    #hero-3 {
        background-image: url("../img/section-3/hero-3.jpg");
        background-position: -150px -1000px;
        background-repeat: no-repeat;
        background-size: 230%;
        height: 30vh;

        align-items: center;
        display: flex;
        justify-content: center;

        @include md {
            background-position: -250px -2050px;
            background-size: 220%;
            height: 35vh;
        }

        @include lg {
            background-position: -50px -1800px;
            background-size: 150%;
            height: 45vh;
        }

        @include xl {
            background-position: -50px -1900px;
            background-size: 130%;
        }

        @include xxl {
            background-position: -50px -2050px;
            height: 50vh;
        }

    }


    #sale-xl {

        @include xl {
            display: grid;
            grid-template-areas: ". sale-xl .";
            grid-template-columns: auto 1200px auto;
        }

        #sale {
            align-items: center;
            display: flex;
            justify-content: center;

            p {
                color: $white;
            }

            @include xl {
                grid-area: sale-xl;
            }

            ul {
                display: grid;
                grid-template-areas:
                    ". s1-m s2-m s3-m"
                    "a1 p1 p2 p3"
                    "a2 p4 p5 p6"
                    "a3 p7 p8 p9"
                    ". b1-s b2-s b3-s";
                grid-template-columns: 50px 100px 100px 100px;
                grid-template-rows: repeat(5, 1fr);
                margin: 0px;
                row-gap: 25px;
                text-align: center;

                @include md {
                    grid-template-areas:
                        ". s1 s2 s3"
                        "a1 p1 p2 p3"
                        "a2 p4 p5 p6"
                        "a3 p7 p8 p9"
                        ". b1 b2 b3";
                    grid-template-columns: 160px 183px 183px 174px;
                    grid-template-rows: repeat(5, 100px);
                    row-gap: 15px;
                }


                #s1-m {
                    grid-area: s1-m;
                }

                #s2-m {
                    grid-area: s2-m;
                }

                #s3-m {
                    grid-area: s3-m;
                }

                #s1 {
                    grid-area: s1;
                }

                #s2 {
                    grid-area: s2;
                }

                #s3 {
                    grid-area: s3;
                }


                #a1 {
                    grid-area: a1;
                }

                #a2 {
                    grid-area: a2;
                }

                #a3 {
                    grid-area: a3;

                }


                #p1 {
                    align-items: center;
                    background-color: $light-orange;
                    color: $white;
                    display: flex;
                    grid-area: p1;
                    height: 45px;
                    justify-content: center;
                    margin: 0 auto;
                    width: 60px;

                    @include md {
                        height: 95px;
                        width: 127px;
                    }
                }

                #p2 {
                    align-items: center;
                    background-color: $light-orange;
                    color: $white;
                    display: flex;
                    grid-area: p2;
                    height: 45px;
                    justify-content: center;
                    margin: 0 auto;
                    width: 60px;

                    @include md {
                        height: 95px;
                        width: 127px;
                    }
                }

                #p3 {
                    align-items: center;
                    background-color: $light-orange;
                    color: $white;
                    display: flex;
                    grid-area: p3;
                    height: 45px;
                    justify-content: center;
                    margin: 0 auto;
                    width: 60px;

                    @include md {
                        height: 95px;
                        width: 127px;
                    }
                }

                #p4 {
                    align-items: center;
                    background-color: $light-orange;
                    color: $white;
                    display: flex;
                    grid-area: p4;
                    height: 45px;
                    justify-content: center;
                    margin: 0 auto;
                    width: 60px;

                    @include md {
                        height: 95px;
                        width: 127px;
                    }
                }

                #p5 {
                    align-items: center;
                    background-color: $light-orange;
                    color: $white;
                    display: flex;
                    grid-area: p5;
                    height: 45px;
                    justify-content: center;
                    margin: 0 auto;
                    width: 60px;

                    @include md {
                        height: 95px;
                        width: 127px;
                    }
                }

                #p6 {
                    align-items: center;
                    background-color: $light-orange;
                    color: $white;
                    display: flex;
                    grid-area: p6;
                    height: 45px;
                    justify-content: center;
                    margin: 0 auto;
                    width: 60px;

                    @include md {
                        height: 95px;
                        width: 127px;
                    }
                }

                #p7 {

                    align-items: center;
                    background-color: $light-orange;
                    color: $white;
                    display: flex;
                    grid-area: p7;
                    height: 45px;
                    justify-content: center;
                    margin: 0 auto;
                    width: 60px;

                    @include md {
                        height: 95px;
                        width: 127px;
                    }
                }

                #p8 {
                    align-items: center;
                    background-color: $light-orange;
                    color: $white;
                    display: flex;
                    grid-area: p8;
                    height: 45px;
                    justify-content: center;
                    margin: 0 auto;
                    width: 60px;

                    @include md {
                        height: 95px;
                        width: 127px;
                    }
                }

                #p9 {
                    align-items: center;
                    background-color: $light-orange;
                    color: $white;
                    display: flex;
                    grid-area: p9;
                    height: 45px;
                    justify-content: center;
                    margin: 0 auto;
                    width: 60px;

                    @include md {
                        height: 95px;
                        width: 127px;
                    }
                }


                #b1-s {
                    grid-area: b1-s;
                }

                #b2-s {
                    grid-area: b2-s;
                }

                #b3-s {
                    grid-area: b3-s;
                }

                @include md {
                    #b1 {
                        grid-area: b1;
                    }

                    #b2 {
                        grid-area: b2;
                    }

                    #b3 {
                        grid-area: b3;
                    }
                }

            }
        }
    }



    #bottom-xl {

        @include xl {
            display: grid;
            grid-template-areas: ". bottom-xl .";
            grid-template-columns: auto 1200px auto;
        }

        #bottom-container {

            @include lg {
                display: grid;
                grid-template-areas: "aside article";
                grid-template-columns: 45% auto;
            }

            @include xl {
                grid-area: bottom-xl;
            }

            #people-img {
                background-image: url("../img/section-3/people-group.jpg");
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                height: 30vh;

                @include md {
                    margin-right: 106px;
                }

                @include lg {
                    grid-area: aside;
                    margin: 0px;
                }
                
                @include xxl{
                    height: 40vh; 
                }
            }

            article {
                margin: 0 10px;

                @include md {
                    margin-left: 298px;
                }

                @include lg {
                    grid-area: article;
                    margin: 0px 10px 0px 20px;
                }
            }
        }
    }


    #additional {

        >div {
            margin-left: 10px;

            @include md {
                margin-left: 210px;
            }

            @include lg {
                margin-left: 320px;
            }

            @include xl {
                margin-left: 425px;
            }

            @include xxl {
                margin-left: 550px;
            }
        }
    }


    h2 {
        align-items: center;
        display: flex;
        justify-content: center;
    }


    h3 {
        color: $dark-orange;
        font-family: 'Playfair Display', serif;
        font-size: rem-calc(17);
        font-weight: 400;
        line-height: rem-calc(23);
        text-align: justify;

        @include md {
            font-size: rem-calc(23);
            line-height: rem-calc(31);
        }
    }

}