/* =============
    Section-5
============= */
#section-5 {
    #hero-5 {
        align-items: center;
        background-image: url("../img/section-5/hero-5.jpg");
        background-position: -320px -350px;
        background-repeat: no-repeat;
        background-size: 300%;
        display: flex;
        height: 30vh;
        justify-content: center;

        @include md {
            background-position: -360px -500px;
            background-size: 210%;
            height: 35vh;
        }

        @include lg {
            background-position: -330px -400px;
            background-size: 160%;
            height: 45vh;
        }

        @include xl {
            background-position: -330px -600px;
        }

        @include xxl {
            background-position: -330px -850px;
            background-size: 150%;
        }
    }

    #section-5-xl {
        @include xl {
            display: grid;
            grid-template-areas: ". section-5-xl .";
            grid-template-columns: auto 1200px auto;
        }

        #section-5-container {
            @include xl {
                grid-area: section-5-xl;
            }

            #section-5a {
                h2 {
                    align-items: left;
                    margin-left: 10px;

                    @include md {
                        margin-left: 100px;
                    }

                    @include lg {
                        margin-left: 100px;
                    }
                }

                p {
                    margin-left: 10px;
                    margin-right: 10px;

                    @include md {
                        margin-left: 100px;
                        margin-right: 300px;
                    }

                    @include lg {
                        margin-left: 100px;
                        margin-right: 500px;
                    }
                }
            }

            #section-5b {
                #history-1-img {
                    background-image: url("../img/section-5/history-1.jpg");
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    height: 60vh;

                    @include md {
                        height: 50vh;
                        margin-left: 200px;
                    }

                    @include lg {
                        height: 65vh;
                        margin-left: 400px;
                    }
                }

                #h-mobile-text {
                    margin-left: 10px;
                    margin-right: 10px;
                }

                #for-tablet-desktop {
                    @include md {
                        margin-left: 200px;
                        margin-right: 10px;
                    }

                    @include lg {
                        margin-left: 400px;
                        margin-right: 10px;
                    }
                }

                #history-5bc {
                    @include lg {
                        display: grid;
                        grid-template-areas: "img history-lg";
                        grid-template-columns: 50% auto;
                    }

                    #history-2-img {
                        background-image: url("../img/section-5/history-2.jpg");
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        height: 40vh;

                        @include md {
                            background-position: 0px -150px;
                            background-size: 150%;
                            height: 60vh;
                            margin-bottom: 80px;
                            margin-right: 298px;
                        }

                        @include lg {
                            background-position: 0px -100px;
                            background-size: 110%;
                            grid-area: img;
                            height: 75vh;
                            margin: 0px 0px 120px 0px;
                        }
                    }

                    #history-mobile-content {
                        margin-left: 10px;
                        margin-right: 10px;
                    }

                    article {
                        @include md {
                            margin-left: 10px;
                            margin-right: 298px;
                        }

                        @include lg {
                            grid-area: history-lg;
                            margin: 0px;
                            padding: 0px 100px;
                        }
                    }
                }
            }

            #section-5d {
                @include lg {
                    display: grid;
                    grid-template-areas: "article aside";
                    grid-template-columns: 50% 50%;
                }

                #phs-1-img {
                    background-image: url("../img/section-5/phs-1.jpg");
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    height: 60vh;

                    @include md {
                        margin-left: 298px;
                    }

                    @include lg {
                        grid-area: aside;
                        height: 80vh;
                        margin: 0px;
                    }
                }

                >div {
                    @include lg {
                        display: grid;
                        grid-template-areas: ". text .";
                        grid-template-columns: 0 auto 0;
                    }

                    article {
                        margin-left: 10px;
                        margin-right: 10px;

                        @include md {
                            margin-left: 298px;
                            margin-right: 10px;
                        }

                        @include lg {
                            grid-area: text;
                            margin: 0px;
                            padding: 0px 100px;
                        }
                    }
                }
            }

            #section-5e {
                @include lg {
                    display: grid;
                    grid-template-areas: "image text";
                    grid-template-columns: 45% auto;
                    margin-top: 120px;
                }

                #phs-2-img {
                    background-image: url("../img/section-5/phs-2.jpg");
                    background-position: 0px -90px;
                    background-repeat: no-repeat;
                    background-size: cover;
                    height: 40vh;

                    @include md {
                        background-position: 0px -130px;
                        background-size: 140%;
                        grid-area: image;
                        height: 30vh;
                        margin-right: 250px;
                    }

                    @include lg {
                        background-size: 120%;
                        grid-area: image;
                        height: 30vh;
                        margin: 0px;
                        margin-left: 0px;
                    }
                }

                article {
                    margin-left: 10px;
                    margin-right: 10px;

                    @include md {
                        margin-right: 250px;
                    }

                    @include lg {
                        display: grid;
                        grid-area: text;
                        grid-template-areas: ". text .";
                        grid-template-columns: 10px auto 10px;
                        margin-left: 0px;
                        margin-right: 0px;
                    }

                    p {
                        @include md {
                            grid-area: text;
                        }

                        @include lg {
                            grid-area: text;
                        }
                    }
                }
            }
        }
    }

    h3 {
        color: $dark-orange;
        font-family: 'Playfair Display', serif;
        font-size: rem-calc(23);
        font-weight: 700;

        @include lg {
            font-size: rem-calc(25);
        }
    }
}