/* =============
    Section-6
============= */

#section-6{

    text-align: center;

    #hero{
        background-image: url("../img/section-6/hero-6.jpg");
        background-repeat: no-repeat;
        background-size: 270%;
        background-position: -350px -170px;
        height: 30vh;

        display: flex;
        align-items: center;
        justify-content: center;

        @include md{
            background-size: 200%;
            background-position: -550px -200px;
            height: 35vh;
        }

        h2{
            font-family: 'Playfair Display', serif;
            font-size: rem-calc(30);
            font-weight: 900;
            color: $white;
            
            display: flex;
            align-items: center;
            justify-content: center;

            @include md{
                font-size: rem-calc(45);
            }
        }
    }

    ul{
        
        #address{

            >div{
                font-size: rem-calc(40);
                color: $light-orange;
            }

        }

        #phone{

            >div{
                font-size: rem-calc(40);
                color: $light-orange;
            }

        }

        #email{

            >div{
                font-size: rem-calc(40);
                color: $light-orange;
            }

        }

        
    }
            



    
    h2{
        font-family: 'Playfair Display', serif;
        font-size: rem-calc(22);
        font-weight: 700;
        color: $dark-brown;
        
    }
    p{
        font-family: Helvetica, sans-serif;
        font-size: rem-calc(16);
        font-weight: 400;
        line-height: rem-calc(23);
    }

}
