/* =============
    Footer
============= */
footer {
    @include xl {
        background-color: $light-pink;
        border-bottom: 1px solid $light-pink;
        display: grid;
        grid-template-areas: ". footer-xl .";
        grid-template-columns: auto 1200px auto;
        width: 100%;
    }

    #footer-xl {
        background-color: $light-pink;
        border-bottom: 1px solid $light-pink;
        width: 100%;

        @include xl {
            grid-area: footer-xl;
        }

        #address-footer {
            @include md {
                margin-bottom: 40px;
            }
        }

        #social-medias {
            ul {
                align-items: center;
                display: flex;
                font-size: rem-calc(25);
                justify-content: space-evenly;
                margin: 25px 120px;

                @include md {
                    font-size: rem-calc(30);
                    margin: 25px 300px;
                }

                @include lg {
                    font-size: rem-calc(40);
                    margin: 25px 400px;
                }

                li {
                    margin-bottom: 35px;

                    a:link,
                    a:visited {
                        color: $dark-pink;
                    }

                    a:hover {
                        color: $middle-brown;
                        transition: 0.25s;
                    }
                }
            }
        }
    }

    h2 {
        color: $dark-pink;
        font-family: 'Playfair Display', serif;
        font-size: rem-calc(18);
        font-weight: 700;
        padding: 35px 0px;
        text-align: center;

        @include md {
            font-size: rem-calc(28);
            padding: 35px 0px 15px 0px;
        }
    }

    h3 {
        @include md {
            color: $dark-pink;
            font-family: 'Playfair Display', serif;
            font-size: rem-calc(22);
            font-weight: 400;
            margin-bottom: 25px;
            text-align: center;
        }
    }

    p {
        color: $dark-pink;
        text-align: center;

        @include md {
            margin-bottom: 15px;
        }
    }
}