/* =============
    Header
============= */
header {
    background-color: $light-pink;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;

    >div {
        display: grid;
        grid-template-areas: "logo burger"
            "nav nav";
        grid-template-columns: 80% auto;

        @include lg {
            grid-template-areas: "logo""nav";
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(1, 1fr);
        }

        #logo-container {
            grid-area: logo;
            padding: 20px 10px;

            @include md {
                padding: 20px 40px;
            }

            @include lg {
                padding: 10px 45px 0px 45px;
            }

            #logo-area {
                display: grid;
                gap: 20px;
                grid-template-areas: "logo heading";
                grid-template-columns: 20% auto;

                @include md {
                    gap: 40px;
                }

                @include lg {
                    gap: 20px;
                    grid-template-areas: "logo heading";
                    grid-template-columns: 10% auto;
                }

                #logo {
                    background-image: url("../img/header/logo.png");
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    grid-area: logo;
                    height: 50px;
                    width: 50px;

                    @include md {
                        grid-area: logo;
                        height: 55px;
                        width: 55px;
                    }

                    @include lg {
                        grid-area: logo;
                    }
                }

                h1 {
                    color: $dark-pink;
                    font-family: Helvetica, sans-serif;
                    font-size: rem-calc(22);
                    font-weight: 700;
                    grid-area: heading;

                    @include md {
                        align-items: center;
                        display: flex;
                        font-size: rem-calc(28);
                        justify-content: center;
                    }

                    @include lg {
                        font-size: rem-calc(30);
                        justify-content: flex-start;
                    }

                    span {
                        display: block;

                        @include md {
                            display: inline;
                        }
                    }
                }
            }
        }

        #burger-container {
            align-items: center;
            display: flex;
            grid-area: burger;
            justify-content: flex-end;
            padding: 25px;

            @include lg {
                display: none !important;
            }

            i {
                color: $dark-pink;
                cursor: pointer;
                font-size: rem-calc(22);

                @include md {
                    font-size: rem-calc(28);
                }
            }
        }

        #nav-container {
            background-color: $light-pink;
            display: none;
            grid-area: nav;

            @include lg {
                background-color: $light-pink;
                display: grid !important;
                grid-template-areas: ". nav-container ";
                grid-template-columns: 10% auto;
                padding: 0 45px;
            }

            >div {
                display: flex;
                justify-content: flex-end;
                padding-right: 25px;

                @include lg {
                    align-items: flex-start;
                    grid-area: nav-container;
                    justify-content: flex-start;
                    padding-left: 2.3%;
                    padding-right: 0px;
                }

                @include xl {
                    padding-left: 2%;
                }

                @include xxl {
                    padding-left: 1.5%;
                }

                ul {
                    li {
                        font-family: Helvetica, sans-serif;
                        font-size: rem-calc(16);

                        @include md {
                            font-size: rem-calc(18);
                        }
                    }
                }
            }
        }
    }
}