/* =============
    Header
============= */

header{
    background-color: $light-pink;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;


    >div{

        display: grid;
        grid-template-areas: "logo burger"
        "nav nav";
        grid-template-columns: 80% auto;

        @include lg{
            grid-template-areas: "logo" "nav";
            grid-template-rows: repeat(1,1fr);
            grid-template-columns: repeat(1,1fr);
        }

        #logo-container{
            grid-area: logo;
            padding: 20px 10px;

            @include md{
                padding: 20px 40px;
            }

            @include lg{
                padding: 10px 45px 0px 45px;
            }

            #logo-area{
                display: grid; 
                grid-template-areas: "logo heading";
                grid-template-columns: 20% auto;
                gap: 20px;

                @include md{
                    gap: 40px;
                }

                @include lg{
                grid-template-areas: "logo heading";
                grid-template-columns: 10% auto;
                gap: 20px;
                }
            
                #logo{
                    grid-area: logo;
                    background-image: url("../img/header/logo.png");
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                    height: 50px;
                    width: 50px;


                    @include md{
                        grid-area: logo;
                        height: 55px;
                        width: 55px;
                    }

                    @include lg{
                        grid-area: logo;
                    }
                }
    
                h1{
                    color: $dark-pink;
                    font-family: Helvetica, sans-serif;
                    font-size: rem-calc(22);
                    font-weight: 700;
                    grid-area: heading;

                    @include md{
                        font-size: rem-calc(28);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    @include lg{
                        font-size: rem-calc(30);
                        justify-content: flex-start;
                    }
    
                    span{
                        display: block;
    
                        @include md{
                            display: inline;
                        }
                    }
                }
        
        
            }
        }

        #burger-container{
            align-items: center;
            display: flex;
            grid-area: burger;
            justify-content: flex-end;
            padding: 15px;

            @include lg{
                display: none !important;
            }

            i{
                color: $dark-pink;
                cursor: pointer;
                font-size: rem-calc(22);

                @include md{
                    font-size: rem-calc(28);
                }
                
            
            }
        }

        #nav-container{
            background-color: $light-pink;
            display: none;
            grid-area: nav;
            
            // margin: 0px 10px;

            @include lg{
                background-color: $light-pink;
                display: grid;
                grid-template-columns: 10% auto;
                grid-template-areas: ". nav-container ";
                padding: 0 45px;
                // margin: 0px 180px;

            }

            >div{
                display: flex;
                //align-items: flex-end;
                justify-content: flex-end;
                padding-right: 15px;

                @include lg{
                    align-items: flex-start;
                    justify-content: flex-start;
                    padding-right: 0px;
                    padding-left: 2%;
                    grid-area: nav-container;
                }

                ul{
                    li{
                        font-family: Helvetica, sans-serif;
                        font-size: rem-calc(16);
        
                        @include md{
                            font-size: rem-calc(18);
                        }
        
                    }
                }
            }

            
        }
    }
}