/* =============
    Buttons
============= */

.button{
    font-family: Helvetica, sans-serif;
    font-size: rem-calc(16);
    font-weight: 700; 

    display: flex;
    align-items: center;
    justify-content: center;

    a:link,
    a:visited{
        color: $white;
        background-color: $green;
        border-radius: 5px;
        padding: 10px 20px;
        transition: 0.25s;
    }

    a:hover, a:active{
        background-color: $dark-green;
    }

    

}

.button-sg{
    font-family: Helvetica, sans-serif;
    font-size: rem-calc(16);
    font-weight: 700; 

    display: flex;
    align-items: center;
    justify-content: center;

    a:link,
    a:visited{
        color: $white;
        background-color: $green;
        border-radius: 5px;
        padding: 10px 20px;
        transition: 0.25s;
    }

    a:hover, a:active{
        background-color: $dark-green;
    }
}