/* =============
    Buttons
============= */

.button{
    font-family: Helvetica, sans-serif;
    font-size: rem-calc(16);
    font-weight: 700;
    color: $white;
    background-color: $green;
    border-radius: 5px;
    height: 33px;
    margin: 0% 27%;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;


    @include md{
        margin: 0% 40%;
    }

    @include lg{
        margin: 0% 42%;
    }

    a:link,
    a:visited{
        color: $white;
    }

    

}

.button-sg{
    font-family: Helvetica, sans-serif;
    font-size: rem-calc(16);
    font-weight: 700;
    color: $white;
    background-color: $green;
    border-radius: 5px;
    height: 30px;
    margin: 0px 10px;
    
    display: flex;
    align-items: center;
    justify-content: center;

    a:link,
    a:visited{
        color: $white;
    }
}